#root {
  margin: 0 auto;
  text-align: center;
}

.animation-move-box {
  animation: move-box 12s linear infinite;
}
@keyframes move-box {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(2turn);
    opacity: 0;
    border-radius: 50%;
  }
}

.animation-move-wrap {
  animation: move-wrap 24s linear infinite;
}
@keyframes move-wrap {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animation-move-wra-reverse {
  animation: move-wrap-reverse 24s linear infinite;
}
@keyframes move-wrap-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}
